@model MyCompass.Models.PlaceImage

@{
    ViewData["Title"] = "Delete";
}

<div>
    <h4>Delete Image</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageFile)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Image != null)
            {
                string img = Convert.ToBase64String(Model.Image);
                <img src="data:image/png;base64,@img" width="300" height="300" />
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Place)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Place.Name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
