@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="fb-page col-md-3" style="margin-top: 2.7%" data-href="https://www.facebook.com/My-Compass-104152812082779" data-tabs="posts" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/My-Compass-104152812082779" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/My-Compass-104152812082779">My Compass</a>
        </blockquote>
    </div>
</div>
