@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<br />
<p>This website has an access only to the following group members:</p>
<ul>
    <li>Ohad Koren</li>
    <li>Or Shemesh</li>
    <li>Mor Daby</li>
    <li>Ran Berant</li>
</ul>
