@{
    ViewData["Title"] = "Statistics";
}


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: 'https://localhost:44323/Home/TripCategoriesByTripEvent',
                dataType: 'json',
                async: false,
                accepts: "application/json",
                success: function (data) {
                    console.log(data)
                    //createCategoriesCounter(data);
                }
            });
            
//            var categoriesCounter = createCategoriesCounter();
//            getPieChart();
        });
    </script>

}

<h3 class="display-4">Statistics</h3>
<div class="text-center" id="pieChart">

</div>
<div asp-action="TripCategoriesByTripEvent">
    
</div>