<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MyCompass</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1 align-items-center d-flex">
                <li class="nav-item pl-3">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item pl-3">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                <li class="nav-item pl-3">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Places" asp-action="Index">Places</a>
                </li>
                <li class="nav-item pl-3">
                    <a class="nav-link text-dark" asp-area="" asp-controller="TripEvents" asp-action="Index">Trip Events</a>
                </li>
                <li class="nav-item pl-3">
                    <a class="nav-link text-dark" asp-area="" asp-controller="PlaceImages" asp-action="Index">Add Image to Place</a>
                </li>
                <li class="nav-item pl-3">
                    <a class="nav-link text-dark" asp-area="" asp-controller="TripCategories" asp-action="Index">Trip Categories</a>
                </li>
                <li class="nav-item pl-3">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                </li>
            </ul>
            @{
                ViewData["Title"] = "Index";
                byte[] b = null;
                //Context.Session.TryGetValue("username", out b);
                if (Context != null && Context.User != null)


                    @*name = System.Text.Encoding.Default.GetString(b);*@

                    <div>Hello @Context.User.Identity.Name, </div>
                    <a class="nav-link text-dark" asp-controller="Users" asp-action="Logout">Logout</a>
            }
        </div>
    </div>
</nav>
