<nav>
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div>
            <ul class="nav-list">
                <a class="navbar-brand font-weight-bold" asp-area="" asp-controller="Home" asp-action="Index">My Compass</a>
                @{
                    if (Context.User.IsInRole(UserType.Admin.ToString()))
                    {
                        <li class="nav-item dropdown">
                            <button onclick="myFunction()" class="navbtn">Manager options</button>
                            <div id="myDropdown" class="dropdown-content">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Places" asp-action="Index">Places</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="PlaceImages" asp-action="Index">Add Image to Place</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="TripCategories" asp-action="Index">Trip Categories</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">User Management</a>
                            </div>
                        </li>
                    }
                }
                <li class="nav-item">
                    <a class="nav-link text-dark navbtn" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark navbtn" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark navbtn" asp-area="" asp-controller="TripEvents" asp-action="Index">Trip Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark navbtn" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark navbtn" asp-area="" asp-controller="Home" asp-action="Statistics">Statistics</a>
                </li>

                <li class="nav-item font-weight-bold">
                    @{
                        ViewData["Title"] = "Index";
                        if (Context != null && Context.User != null)
                            @*name = System.Text.Encoding.Default.GetString(b);*@
                            <div>Hello @Context.User.Identity.Name </div>
                            <a class="nav-link" style="color: dodgerblue" asp-controller="Users" asp-action="Logout">Logout</a>
                    }
                </li>
            </ul>
        </div>
    </div>
</nav>
